.box{
    background-image: url(../style/img-2.jpg);
    padding: 300px 100px;
    margin: 100px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
}
p{
    color: rgb(246, 239, 235);
}
body{
    background-color: aqua;
    background-image: url(../style/studying.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: auto;
    margin: 100px;
    background-position: center;
}